@model iWishApp.ViewModels.AddMotivationsCategoryViewModel

<h1>Add New Motivations Category</h1>
<form asp-controller="MotivationsCategory" asp-action="ProcessCreateMotivationsCategoryForm" method="post">
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title"/>
        <span asp-validation-for="Title"></span>
    </div>
    <input type="submit" value="Add Category" />
</form>